body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:white;
    background-color:black;
}

.navbar{
    position:absolute;
 }

 hr:not([size]) {
    height: 2px;
    opacity: 50;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}


